.card {
    width: calc(50% - 25px);
    height: 100px;
    background: #ff9203;
    display: flex;
    justify-content: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 0 5px;
    flex-wrap: wrap;
    .icon {
        width: 100%;
        display: flex;
        img {
            margin: 0 auto;
        }
    }
    .title {
        margin: 10px 0 0 0;
        color: #fff;
    }
}

.cardExercicio{
    width: calc(100% - 20px);
    padding: 5px;
    display: flex;
    .image{
        width: 30%;
        height: 75px;
        background-color: #ff9203;
        margin: 0 10px 0 0;
    }
    .info{
        width: 70%;
        .title{
            span{
                font-size: 16px;
            }
        }
        span{
            color:#fff;
            font-size: 12px;
        }
    }
}
