.card {
    width: calc(50% - 25px);
    height: 100px;
    background: #ff9203;
    display: flex;
    justify-content: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 0 5px;
    flex-wrap: wrap;
    border-radius: 10px;
    .icon {
        width: 100%;
        display: flex;
        img {
            margin: 0 auto;
        }
    }
    .title {
        margin: 10px 0 0 0;
        color: #fff;
    }
}

.cardExercicio{
    width: calc(100% - 10px);
    padding: 5px;
    display: flex;
    background-color: #fff;
    margin:0 0 10px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    .image{
        width: 30%;
        height: 75px;
        background-color: #ff9203;
        margin: 0 10px 0 0;
        border-radius: 10px;
    }
    .info{
        width: 70%;
        .title{
            span{
                font-size: 16px;
                font-weight: bold;
            }
        }
        span{
            color:#000;
            font-size: 12px;
        }
    }
}

.cardRefeicao{
    width: calc(100% - 10px);
    padding: 5px;
    height: 100px;
    margin: 0 0 10px 0;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    .info{
        width: 100%;
        .title{
            span{
                font-size: 16px;
                font-weight: bold;
            }
        }
        span{
            color:#000;
            font-size: 12px;
        }
        .description{
            text-align: justify;
        }
    }
}
